<%= form_for :message, url: user_messages_path do |f| %>
  <% if current_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% current_user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='user_message'>
    <%= f.label :body, 'Message:' %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit 'Send Message' %>
<% end %>
