<% @matches.each do |match| %>
  <%= link_to(match.username, match) %>
  <%= match.dob %>
  <%= match.smoker %>
  <%= match.drinker %>
  <%= truncate(match.bio, length: 30, omission: '...(View profile for more)') %>
<% end %>
