<%= form_for :user, url: search_index_path, method: :get do |f| %>
  <h3> Searching for </h3>
  <h4>Gender:</h4>
  <%= f.select :gender, [['Male', true],['Female', false]] %>
  <h4>Ethnicity</h4>
  <%= f.select :ethnicity, render("users/shared/ethnicities") %>
  <br />
  <%= f.submit 'Search' %>
<% end %>
