<%= options_for_select(
[['Aries', 'arise'],
['Taurus', 'taurus'],
['Gemini', 'gemini'],
['Cancer', 'cancer'],
['Leo', 'leo'],
['Virgo', 'virgo'],
['Libra', 'libra'],
['Scorpio', 'scorpio'],
['Safittarius', 'sagittarius'],
['Capricorn', 'capricorn'],
['Aaquarius', 'aquarius'],
['Pisces', 'pisces']]) %>
