<%= form_for current_user do |f| %>
  <% if current_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% current_user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='user-dob'>
    <%= f.label :dob, 'Date of Birth' %>
    <%= f.date_field :dob, autofocus: true %>
  </div>
  <div class='user-height'>
    <%= f.label :height, 'Height (cm)' %>
    <%= f.number_field :height, min: 0, max: 280 %>
  </div>
  <div class='user-star-sign'>
    <%= f.label :star_sign, 'Star Sign' %>
    <%= f.select :star_sign, [
                              ['Aries', 'aries'],
                              ['Taurus', 'taurus'],
                              ['Gemini', 'gemini'],
                              ['Cancer', 'cancer'],
                              ['Leo', 'leo'],
                              ['Virgo', 'virgo'],
                              ['Libra', 'libra'],
                              ['Scorpio', 'scorpio'],
                              ['Sagittarius', 'sagittarius'],
                              ['Capricorn', 'capricorn'],
                              ['Aquarius', 'aquarius'],
                              ['Pisces', 'pisces']
                             ] %>
  </div>
  <div class='user-smokes'>
    <h3>Do you smoke?</h3>
    <%= f.radio_button :smoker, true %>
    <%= f.label :smoker_true, 'Yes' %>
    <%= f.radio_button :smoker, false %>
    <%= f.label :smoker_false, 'No' %>
  </div>
  <div class='user-drinks'>
    <h3>Do you drink?</h3>
    <%= f.radio_button :drinker, true %>
    <%= f.label :drinker_true, 'Yes' %>
    <%= f.radio_button :drinker, false %>
    <%= f.label :drinker_false, 'No' %>
  </div>
  <div class='user-ethnicity'>
    <h3>What's your ethnicity?</h3>
    <%= f.select :ethnicity, render('users/shared/ethnicities') %>
  </div>
  <div class='user-bio'>
    <h3>Personal Bio</h3>
    <%= f.text_area :bio %>
  </div>
  <br />
  <%= f.submit %>
<% end %>
