<h1><%= @user.username %>'s profile</h1>
<ul>
  <li><%= @user.dob %></li>
  <li><%= @user.star_sign %></li>
  <li><%= @user.height %></li>
  <li><%= @user.gender %></li>
  <li><%= @user.smoker %></li>
  <li><%= @user.drinker %></li>
  <li><%= @user.height %></li>
  <li><%= @user.ethnicity %></li>
  <li><%= @user.bio %></li>
</ul>

<%= link_to 'search', new_search_path %>
<% unless @user.id == current_user.id %>
  <%= button_to 'Send Message', new_user_message_path(@user), method: :get %>
<% end %>
