<!DOCTYPE html>
<html>
<head>
  <title>WeGotSingles</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="nav">
    <div><h1>We Got Singles</h1></div>
    <div>
      <% if user_signed_in? %>
        <ul>
          <li><%= link_to 'Account', user_account_path(current_user) %></li>
          <li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete  %></li>
        </ul>
      <% end %>
    </div>
  </div>

<%= yield %>
</body>
</html>
